{% extends "base.html" %} {% block title %}About{%
endblock %}
{%block content %}

<div class="spacer pt-6"></div>

<div class="columns is-centered">
  <div class="column is-half">

    <section class="section pb-6">

      <h1 class="title has-text-centered is-1 has-text-danger has-text-weight-bold">
        Should you put your washing out?
      </h1>
      <h2>
        <p class="subtitle has-text-centered is-3 has-text-weight-bold">
          <span class="has-text-danger">About</span>
        </p>
      </h2>
    </section>


  </div>
</div>

{% endblock %}