{% extends "base.html" %} {% block title %}Should I put the washing out?{%
endblock %}
{%block content %}

<div class="spacer pt-6"></div>

<div class="columns is-centered">
  <div class="column is-half">

    <section class="section pb-6">

      <h1 class="title has-text-centered is-1 has-text-danger has-text-weight-bold">
        Should you put your washing out?
      </h1>
    </section>

    <section class="section pt-0" id="searchBox">
      <div class="container has-text-centered">
        <form id="formId" class="pb-3">
          <div class="field">
            <label class="label">Enter your postcode</label>
            <div class="columns is-centered">
              <div class="column is-half has-text-centered">
                <div class="container">
                  <button class="button is-success has-text-centered" role="button" onclick="GetGeoLocation()">
                    Or use your location
                  </button>
                </div>
              </div>
            </div>
            <div class="control">
              <input class="input is-large has-text-centered" type="text" placeholder="Enter your Postcode"
                name="postcode" maxlength="10">
            </div>
          </div>
          <div id="inputError" class="pt-0">
            <p class="help">Error</p>
          </div>
        </form>

        <div class="field">
          <div class="columns is-centered">
            <div class="column is-half has-text-centered">
              <div class="container">
                <button class="button is-success has-text-centered" role="button" onclick="ShouldIPutMyWashingOut()">
                  Find out!
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="columns  is-multiline is-centered" id="testBox">

    </div>

    <div class="container">
      <img class="loadSpinner" id="loadSpinner" src="/static/images/loading.png" alt="load spinner" />
    </div>

    <section id="result" class="has-text-centered">

      <div class="container box block has-text-centered">
        <p class="heading">Should you put your washing out?</p>
        <p id="resultCardContent" class="title">Yes/No</p>
        <p id="resultTime" class="title"> It will take approximately 3 hours to dry</p>
      </div>
      <button class="button is-info has-text-centered collapsible">
        Show more information
      </button>
      <div class="collapsibleContent">
        <nav class="columns  is-multiline is-centered" id="InfoBox">
          <!-- This section is filled dynamically as weather is pulled -->
        </nav>

      </div>
    </section>

  </div>
</div>

{% endblock %}